html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

body{
    margin: 10px;
}

.flex{
    display: flex;
    height: 100%;
}

.headermain{
    height: 100%;
}

.sidebar{
 background-color: #00FFFF ;
    width: 120px;
    height: 100%;
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    background-color:#797D7F  ;
    height: 20%;
    
}

.main{
    background-color:#B2BABB   ;
height: 80%;
}

a{
    text-decoration: none;
    color: black;
    
    
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}
a:hover{
    color:red;
}




/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

